/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 */

@import "bourbon";
@import "base/base";
@import "neat";

body {
  @include outer-container;
  margin-top: 0px;
}

button a {
  color: white;
}

.header_wrapper {
  background-color: $red;
  color: white;
  padding: 10px;
  margin: 0px;
  text-align: right;
  @include clearfix;
  @include outer-container;
  position: relative;
  z-index: 9999;
  $horizontal-bar-mode: $large-screen;

  .logo {
    float: left;
    max-height: $navigation-height;
    // padding-left: $navigation-padding;
    // padding-right: 2em;

    img {
      max-height: $navigation-height;
      // padding: .8em 0;
    }
  }
}

.user_signin {
  vertical-align: middle;
  margin-top: 15px;
}

.user_signin a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: $accent-font-family;
  margin: 0px 5px;
  // border-radius: 10px;
}

.user_signin a:hover{
  color: $red;
  background-color: white;
}

.main_container {
  @include clearfix;
  @include outer-container;
}

#sidemenu {
  @include span-columns(3 of 12);
  display: inline;
  float: left;
}

#sidemenu li{
  // padding: 10px;
}

.body_container {
  float: right;
  display: inline;
  @include span-columns(9 of 12);
}

.js-accordion-trigger {
  background-color: white;
  color: $blue;
  @include span-columns(3 of 3);
  padding: 20px 15px;
  border-bottom: 1px solid $blue;
  font-family: $accent-font-family;
}

.js-accordion-trigger:hover {
  background-color: $blue;
  color: white;
  border-bottom: 1px solid white;
}

.submenu a {
  @include span-columns(3 of 3);
  padding: 20px 30px;
  // border-bottom: 1px solid $blue;
}

.submenu a:hover {
  background-color: $blue;
  color: white;
}

.search-and-submit {
  padding-left: 30px;
}

.search-and-submit label {
  padding-top: 10px;
}

.search-and-submit button{
  text-align: right;
}

.device_form {
  @include span-columns(4 of 9);
}

.trip_form {
  @include span-columns(6 of 9);
}

.trip_card {
  @include span-columns(6);
  border: 2px solid $blue;
}

.trip_text {
  background-color: $blue;
}

.trip_image {
  margin-bottom: 0px;
  z-index: 9999;
}

.trip_title {
  color: $blue;
  background-color: white;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  font-family: $accent-font-family;
  font-size: $base-font-size * 2;
}

// .trip_title:hover {
//   color: white;
//   background-color: $blue;
// }

// .trip_title a:hover {
//   color: white;
//   background-color: $blue;
//   width: 100%;
//   text-align: center;
//   margin-top: 0px;
//   font-weight: bold;
// }

.trip_info {
  margin: 0px 10px 0px 10px;
  color: white;
  font-family: $accent-font-family;
}
