// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
	// background-color: #e67e22;
	// color: white;
	margin: auto;
	// text-align: center;
	padding: 10px;
	list-style: none;
}

.new_user h2{
	margin-top: 20px;
	margin-bottom: 0px;
}

.new_user div{
	margin-top: 15px;
}

.new_user input {
	font-size: 16px;
	border: 1px solid #cccccc;
	padding: 5px;
}

.new_user .submit {
	background-color: #d35400;
	padding: 10px;
	color: white;
	box-shadow: black 1px 2px 3px;
}