// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_form_more {
  @include span-columns(12 of 12);
  @include clearfix;
}

.profile_form_more label {
  @include span-columns(4 of 12);
}

.profile_form_more input,textarea{
  @include span-columns(4 of 12);
}

.profile_links img {
@include span-columns(1 of 14);
display: inline;
}

.profile_links input,textarea {
@include span-columns(4 of 12);
display: inline;
}

.link_item {
  @include span-columns(1 of 1);
  display: block;
  margin-top: 5px;
  padding-left: 30px;
}

.others_link {
  @include span-columns(1 of 14);
  display: inline;
}
