// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
// <script src='lib/jquery.min.js'></script>
// <script src='lib/moment.min.js'></script>
// <script src='fullcalendar/fullcalendar.js'></script>

//TRIPS INDEX
.trip_card {
  @include span-columns(6);
  border: 2px solid $blue;
  margin: 4px;
}

.trip_text {
  background-color: $blue;
}

.trip_image {
  margin-bottom: 0px;
  z-index: 9999;
}

.trip_title {
  color: $blue;
  background-color: white;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  font-family: $accent-font-family;
  font-size: $base-font-size * 2;
}

.trip_info {
  color: white;
  margin-bottom: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  padding-left: 0px;
  font-family: $accent-font-family;
}

.trip_info td {
  padding-left: 10px;
}

.trip_info th {
  padding-left: 10px;
}

.spec_bar {
  @include span-columns(12 of 12);
}

.spec_bar li {
  display: inline;
  @include span-columns(4);
  text-align: center;
  padding: 15px 0px;
  font-family: $accent-font-family;
  font-size: $base-font-size * 1.25;
}

.spec_bar a{
  color: $green;
  padding: 20px 60px;
}

.spec_smaller a {
  padding: 20px 40px
}

.spec_bar a:hover {
  background-color: $green;
  color: white;
}

//TRIP FORMS NEW and EDIT
.trip_form input[type='text'], input[type='date'],textarea{
  border: 1px solid $yellow;
  background-color: white;
  box-shadow: none;
}

.trip_form input[type='text']:hover, input[type='date']:hover, textarea:hover {
  border: 1px solid $green;
  box-shadow: none;
}

.trip_form input[type='text']:focus, input[type='date']:focus, textarea:focus{
  border: 2px solid $green;
  box-shadow: none;
  color: $green;
}

.trip_form_place input, textarea{
  @include span-columns(5 of 9);
}

.trip_form_activity {
  display: block;
  @include span-columns(12);
}

.trip_form_place input[type='file'] {
  border: 0px;
}

#activity_list li {
  display: inline-block;
  height: 100px;
  @include span-columns(2 of 12);
}

#activity_list input{
  display: inline;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#activity_list input:indeterminate{
  text-shadow: none;
  box-shadow: none;
}

#activity_list input[type="radio"]{
  display: none;
}

#activity_list label {
  display: inline;
  position: relative;
  margin: 0px;
  padding: 0px 5px;
  text-align: center;
}

#activity_list label:hover{
  font-weight: bold;
  color: $blue;
  text-shadow: none;
  box-shadow: none;
}

#activity_list input[type="radio"]:checked+label{
  font-weight: bold;
  color: $blue;
  text-shadow: none;
  box-shadow: none;
}

#activity_list img {
  display: block;
}

.addtl_activity {
  @include span-columns(12 of 12);
  @include clearfix;
}

.trip_form_more {
  @include span-columns(12 of 12);
  @include clearfix;
}

.trip_form_more label {
  @include span-columns(4 of 12);
}

.trip_form_more input,textarea{
  @include span-columns(4 of 12);
}

.form_submit {
  @include span-columns(8 of 12);
  text-align: center;
}

.trip_status {
  @include span-columns(3 of 12);
}

.fulltrip {
  color: $red;
}

#colspan2 {
  @include span-columns(8 of 12);
}

.reviewables {
  @include span-columns(8 of 12);
}

.trip_display h4 {
  color: $blue;
  background-color: white;
  display: inline;
  padding: 0 4px;
}

.trip_display p{
  margin-top: 20px;
}

.trip_info_on_show {
  margin: auto;
  @include span-columns(8 of 12);
}

.trip_info_on_show div {
  padding: 5px;
}

.trip_text_on_show {
  font-size: 1.2em;
  font-family: $accent-font-family;
  display: inline-block;
  background-color: white;
  color: $dark-gray;
}

.trip_name {
  color: $yellow;
}
