<h1>Where are you planning to go?</h1>

<ul>
  <% @places.each do |place| %>
  <li><%= link_to place.city, place_trips_path(place.id) %></li>
  <% end %>
</ul>

<button><%=link_to "Create a new trip", new_trip_path%></button>
