Welcome! This is the Place index page

<p>Where are you planning to go?</p>

<ul>
<% @places.each do |place| %>
<li><%= link_to place.city, place_trips_path(place.id) %></li>
<% end %>
</ul>


<p>What do you want to do?</p>

<ul>
<% @activities.each do |activity| %>
<li><%= link_to activity.activity_name, activity_trips_path(activity.id) %></li>
<% end %>
</ul>

<button><%=link_to "Create a new trip", new_trip_path%></button>

<% if user_signed_in? && current_user %>
<button>
  <%= link_to "Edit my profile", edit_profile_path(id: current_user.id) %>
</button>
  <% end %>
